<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<title>Astro Basics</title>
	</head>
	<body
		class="min-h-screen bg-black text-white overflow-x-hidden"
	>

		<!-- Background Grid -->
		<!-- <div class="fixed inset-0 opacity-[0.02]">
			<div class="absolute inset-0 bg-grid"></div>
		</div> -->

		<slot />
	</body>
</html>
